a:link{
  color:white;
  text-decoration:none;
}
a:hover{
  background-color:white;
  color:orange;
}
body{
  font-family:"Avenir", Helvetica, Arial, sans-serif;
  font-weight:200;
}
.sidebar{
  background-color:#51a6fe;
  color:white;
}
h2{
  margin: 0px 30px;
  font-weight:500;
  text-transform: uppercase;
  display:inline-block;
  margin-top:20px;
  margin-bottom:5px;
}
.sidebar h1{
  padding-top:30px;
  padding-left:30px;
  text-align:left;
  text-transform: uppercase;
  
}
small{
 margin-left:40px;
}
ul{
  list-style-type:square;
  line-height:150%;
  margin:0px 0px 0px 10px;
  font-size:15px;
}
ul:nth-child(2){
  list-style-type:none;
  margin:0px auto;
  margin-top:-10px;
}

.post-title{
  color:orange;
  font-weight:lighter;
  font-size:50px;
  margin:0px 0px;
}